.me {
  float: left;
  }
.list{
  float: left;
  width: 25%;
  padding: 20px;
  border: white;
  border-width: 20px;
  background-color: aquamarine;
  margin: 10px;
}
#list1{
  float: left;
  width: 25%;
  padding: 20px;
  border: white;
  border-width: 20px;
  margin: 10px;
}
.highlight{
 color: blue;
}